.banner4{
    background-image: url('../../dist/img/img-10.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}