.banner2 {
    width: 1600px;
    height: 500px;
    background-image: url("../../dist/img/img-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  